<button *ngIf="!toggleButton" pButton type="button" 
    label="{{label}}" icon="{{icon}}" iconPos="{{iconPos}}" 
    [ngClass]="additionalClass" (click)="clickEvent.emit($event)" [disabled]="isDisabled">
</button>

<p-toggleButton *ngIf="toggleButton" [(ngModel)]="toggleButtonValue"
    onLabel="{{labels[0]}}" offLabel="{{labels[1]}}"
    onIcon="{{icons[0]}}" offIcon="{{icons[1]}}"
    [ngClass]="additionalClass" (click)="clickEvent.emit($event)" [disabled]="isDisabled">
</p-toggleButton>