<nav class="topBar">
    <div class="logo">
        <a [routerLink]="['/']">{{siteName}}</a>
    </div>
    <sb-button toggleButton="true" [icons]="['pi pi-arrow-left', 'pi pi-arrow-right']" toggleButtonValue="value"
        (clickEvent)="value=!value; toggleMenu.emit(value)" class="togglebtn"></sb-button>

    <div class="tool">
        <sb-button *ngIf="user" label="Log Out" (clickEvent)="logOut.emit($event)"></sb-button> 
        <sb-button *ngIf="!user" label="Log in" (clickEvent)="logIn.emit($event)"></sb-button>
    </div>
    
</nav>
