.topBar ::ng-deep{
    height: 50px;
    background-color: aqua;

    .logo, .togglebtn{
        float: left;
    }
    .logo{
        height: 100%;
        line-height: 50px;
        margin: 0 15px;
    }
    .ui-button{
        margin-top: 0.5em;
    }
    .tool{
        display: flex;
        flex-direction: row-reverse;
        height: 100%;
        padding: 0 20px;
    }
}