<p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="card">
  <h3 class="card-title">Add Activity</h3>
  <ng-template #form>
    <form [formGroup]="activityForm" class="ui-fluid p-formgrid p-grid">

      <sb-inputgroup inputType="text" class="ui-g-12 ui-lg-7" [formCtrl]="activityForm.controls.activityName"
        [inputId]="'activityName'" label="Activity Name *" [keyFilter]="'anpha'" [validationErrorDetail]="activityNameValidation">
      </sb-inputgroup>

      <sb-inputgroup inputType="number" class="ui-g-6 ui-lg-2" [formCtrl]="activityForm.controls.point"
        inputId="point" label="Activity Point" [min]="0" showButtons="true">
      </sb-inputgroup>

      <sb-inputgroup inputType="switch" class="ui-g-3 ui-lg-1" [formCtrl]="activityForm.controls.isRequired"
        inputId="isRequired" label="Required" [block]="true">
      </sb-inputgroup>

      <sb-inputgroup inputType="switch" class="ui-g-3 ui-lg-2" [formCtrl]="activityForm.controls.finished"
        inputId="finished" label="Is finished" [block]="true" [disabled]="!displayDialog">
      </sb-inputgroup>

      <sb-inputgroup inputType="dropdown" class="ui-g-12 ui-md-6" [formCtrl]="activityForm.controls.organizationalFaculty"
        inputId="organizationalFaculty" label="Organizational Faculty" [options]="facultyOptions" placeholder="Select Faculty">
      </sb-inputgroup>

      <sb-inputgroup inputType="dropdown" class="ui-g-12 ui-md-6" [formCtrl]="activityForm.controls.organizationalDepartment"
        inputId="organizationalDepartment" label="Organizational Department" [options]="departmentOptions" placeholder="Select Department">
      </sb-inputgroup>

      <sb-inputgroup inputType="calendar" class="ui-g-12 ui-md-6" [formCtrl]="activityForm.controls.startDate"
        inputId="startDate" label="Start Date *" [disabledPastDate]="true" [showButtonBar]="true" [showTime]="true"
        [validationErrorDetail]="startDateValidation" (valueChanged)="checkValidation($event)">
      </sb-inputgroup>

      <sb-inputgroup inputType="calendar" class="ui-g-12 ui-md-6" [formCtrl]="activityForm.controls.endDate"
        inputId="endDate" label="End Date" [disabledPastDate]="true" [showButtonBar]="true" [showTime]="true"
        [validationErrorDetail]="endDateValidation" (valueChanged)="checkValidation($event)">
      </sb-inputgroup>
    </form>
  </ng-template>
  <ng-container *ngTemplateOutlet="form"></ng-container>
  <sb-button label="Add" [isDisabled]="activityForm.invalid" (clickEvent)="onSubmit()"></sb-button>
</div>

<div class="card">
  <h3 class="card-title">Activities Schedule</h3>
  <p-fullCalendar [events]="events" [options]="options"></p-fullCalendar>
</div>

<p-dialog header="Edit Activity" [(visible)]="displayDialog" (onHide)="activityForm.reset()" showEffect="fade" [modal]="true">
  <ng-container *ngTemplateOutlet="form"></ng-container>
  <p-footer>
    <sb-button [label]="'Save'"></sb-button>
  </p-footer>
</p-dialog>
