
.wrapper{
  margin-top: 30px;
  margin-bottom: 30px;

  main#main{
    margin-top: 20px;
  }
}

#page-title{
  color: violet;
  // @include mixins.mix;
}

.card{
  margin: 20px;
  padding: 15px;
  background-color: #FFF;
}
