@mixin mix {
    font-weight: 500;
}

@mixin media($args...) {
    // @debug meta.keywords($args);
    @each $name in $args {
        #{$name}{
            font-weight: 700;
        }
    }
}

@function pow($base, $ex){
    $result: 1;
    @for $var from 1 through $ex {
        $result: $result * $base;
    }
    @return $result;
}

@mixin box-shadow($horizontal: 0px, $vertical: 0px) {
  box-shadow: $horizontal $vertical 5px 0 rgba(0,0,0,.3);
}

@mixin menuTransition {
  transition: all .2s linear;
}
