<form class="ui-fluid">
  <sb-inputgroup class="p-field" *ngFor="let inputGroup of inputControls" [formCtrl]="inputGroup.formControl"
    [inputId]="inputGroup.inputId" [label]="inputGroup.label" [pKeyFilter]="inputGroup.pKeyFilter"
    [validate]="inputGroup.validate" [validationErrorDetail]="inputGroup.validationErrorDetail">
  </sb-inputgroup>

  <div class="p-field-radiobutton">
    <p-radioButton name="gender" value="Male" label="Male" [formControl]="genderControl"></p-radioButton>
  </div>
  <div class="p-field-radiobutton">
    <p-radioButton name="gender" value="Female" label="Female" [formControl]="genderControl"></p-radioButton>
  </div>

  <div class="p-field">
    <label for="facultyName">Faculty</label>
    <sb-dropdown [options]="faculties" [filterable]="true" [formCtrl]="facultyControl"></sb-dropdown>
  </div>

  <sb-button [label]="'Submit'" [isDisabled]="studentForm.invalid" (clickEvent)="submitForm.emit(studentForm.value)"></sb-button>
</form>
