<div class="card">
  <lib-datatablelib [endPoint]="dataEndpoint" [pickedProperties]="pickedProperties"
      [caption]="'Faculties'" [searchTool]="true" [columnToggle]="true" [paging]="true" [rowPaging]="5"
      [exportType]="exportType">
  </lib-datatablelib>
</div>
