@import "../../sass/variables";
@import "../../sass/mixins";

#menu-container ::ng-deep{
  .ui-menu{
    position: fixed;
    width: $menu-width;
    height: calc(100% - #{$navbar-height});
    top: $navbar-height;
    left: -$menu-width;
    overflow: auto;
    border: none;
    @include menuTransition;
    @include box-shadow;
  }

  .show .ui-menu{
    left: 0;
  }
}

@media screen and (max-width: 991px){
  #menu-container ::ng-deep{

  }
}
