<div id="menu-container" >
  <p-menu [model]="menuItems" [ngClass]="showMenu ? 'show' : ''"></p-menu>
</div>
<p-sidebar [(visible)]="side" [baseZIndex]="10000">
  <p-menu [model]="menuItems"></p-menu>
</p-sidebar>
