@import "../sass/variables";
@import "../sass/mixins";

#app-content{
  .body{
    display: flex;
    padding-top: $navbar-height;

    app-left-menu{
      height: 100%;
    }

    .content{
      background: #eff3f8;
      padding-left: $menu-width;
      @include menuTransition;
      width: 100%;
      min-height: calc(100vh - #{$navbar-height});

      &.expandWidth{
        padding-left: 0;
      }
    }
  }


}
