<div id="app-content" class="ui-fluid">
  <app-top-bar (toggleMenuEvent)="showMenu=!showMenu"></app-top-bar>
  <div class="body">
    <app-left-menu [show]="showMenu"></app-left-menu>
    <div class="content" [ngClass]="showMenu ? '' : 'expandWidth'">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
