<div id="multiSelectComponent">
  <p-multiSelect (onChange)="selectedItemsChanged.emit(selectedItems)"
    [options]="options" [(ngModel)]="selectedItems"
    [disabled]="disabled" [filterPlaceHolder]="filterPlaceHolder"
    [filter]="filterable" filterBy="{{filterBy===null ? 'label' : filterBy}}">
  </p-multiSelect>
</div>
