
@import '../../../sass/variables';
@import '../../../sass/mixins';
@import '../../../sass/global';

.validationError{
  font-size: small;
  color: #ffba01;
}

form{
    margin: 10px 0px;

    .form-group{

        label{
            color: $text-color;
        }
    }
}
