<div class="card">
    <h3 id="page-title">Edit Student</h3>
    <p-toast [style]="{marginTop: '80px'}"></p-toast>
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit(studentForm.value)">
        <div class="p-field firstNameGroup">
            <label for="firstName">First Name (*)</label>
            <input pInputText id="firstName" type="text" formControlName="firstName" pKeyFilter="alpha">
            <div class="validationError" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                <div *ngIf="firstName.errors.required">First name is required.</div>
            </div>
        </div>

        <div class="p-field lastNameGroup">
            <label for="lastName">Last Name (*)</label>
            <input pInputText id="lastName" type="text" formControlName="lastName" pKeyFilter="alpha">
            <div class="validationError" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                <div *ngIf="lastName.errors.required">Last name is required.</div>
            </div>
        </div>

        <div class="p-field">
          <label for="dateOfBirth">Date of Birth (*)</label>
          <p-calendar id="dateOfBirth" formControlName="dateOfBirth" [monthNavigator]="true" [yearNavigator]="true" yearRange="1991:2020"></p-calendar>
          <div class="validationError" *ngIf="dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched)">
              <div *ngIf="dateOfBirth.errors.required">Date of birth is required.</div>
          </div>
        </div>

        <div class="p-field">Gender (*)</div>
        <div class="p-field-radiobutton">
            <p-radioButton name="strGender" value="Male" inputId="male" formControlName="strGender"></p-radioButton>
            <label for="male">Male</label>
        </div>
        <div class="p-field-radiobutton">
            <p-radioButton name="strGender" value="Female" inputId="female" formControlName="strGender"></p-radioButton>
            <label for="female">Female</label>
        </div>

        <div class="p-field">
            <label for="faculty">Faculty (*)</label>
            <p-dropdown [options]="facultyOptions" id="faculty" formControlName="faculty" placeholder="Select a Faculty"></p-dropdown>
        </div>

        <div class="p-field">
          <label for="enrollDate">Enroll Date (*)</label>
          <p-calendar id="enrollDate" formControlName="enrollDate"></p-calendar>
          <div class="validationError" *ngIf="enrollDate.invalid && (enrollDate.dirty || enrollDate.touched)">
              <div *ngIf="enrollDate.errors.required">Enroll Date is required.</div>
          </div>
        </div>

        <button pButton type="submit" label="Edit" [disabled]="!studentForm.valid"></button>
    </form>
</div>
