<div class="p-field" [ngClass]="additionalClass">
  <label [for]="inputId">{{label}}</label>

  <ng-container [ngSwitch]="inputType">
    <sb-inputText *ngSwitchCase="'text'" [inputId]="inputId" [formCtrl]="formCtrl"
       [disabled]="disabled">
    </sb-inputText>

    <p-inputNumber *ngSwitchCase="'number'" [inputId]="inputId" [formControl]="formCtrl"
      [min]="min" [max]="max" [useGrouping]="useGrouping" [showButtons]="showButtons" [disableControl]="disabled">
    </p-inputNumber>

    <textarea *ngSwitchCase="'textarea'" [id]="inputId" [formControl]="formCtrl"
      pInputTextarea [rows]="rows" [cols]="cols" [disableControl]="disabled">
    </textarea>

    <sb-dropdown *ngSwitchCase="'dropdown'" [formCtrl]="formCtrl" [disabled]="disabled"
      [options]="options" [filterable]="filterable" [showClear]="showClear" [editable]="editable"
      [group]="group" [placeholder]="placeholder" [filterBy]="filterBy">
    </sb-dropdown>

    <ng-template *ngSwitchCase="'radio'">
      <div *ngFor="let case of cases" class="p-field-radiobutton">
        <p-radioButton [name]="name" [value]="case.value" [label]="case.label" [formControl]="formCtrl" [disableControl]="disabled"></p-radioButton>
      </div>
    </ng-template>

    <p-inputSwitch *ngSwitchCase="'switch'" [formControl]="formCtrl" [disableControl]="disabled" [ngClass]="block ? 'block' : ''"></p-inputSwitch>

    <p-calendar *ngSwitchCase="'calendar'" [formControl]="formCtrl" [id]="inputId" [disableControl]="disabled"
      [monthNavigator]="disabledPastDate ? false : monthNavigator" [yearNavigator]="disabledPastDate ? false : yearNavigator" [yearRange]="yearRange"
      [minDate]="disabledPastDate ? currentDate : minDate" [maxDate]="maxDate"
      [showButtonBar]="showButtonBar" [showTime]="showTime">
    </p-calendar>
  </ng-container>

  <div class="validationError" *ngIf="failedValidation">
    <div *ngFor="let error of validationErrorDetail">
      <span>{{error}}</span>
    </div>
  </div>
</div>
