<div class="card">
  <p-table [value]="departments" dataKey="facultyName">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Department</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-expanded="expanded" let-columns="columns">
        <tr class="ui-widget-header" *ngIf="rowGroupMetadata[rowData.facultyName].index === rowIndex">
            <td colspan="2">
                <a href="#" [pRowToggler]="rowData">
                    <i [ngClass]="expanded ? 'pi pi-fw pi-chevron-circle-down' : 'pi pi-fw pi-chevron-circle-right'"  style="vertical-align: middle;padding-bottom: .1em;"></i>
                    <span>{{rowData.facultyName}}</span>
                </a>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-rowData let-rowIndex="rowIndex">
        <tr>
            <td>{{rowData.id}}</td>
            <td>{{rowData.departmentName}}</td>
        </tr>
    </ng-template>
  </p-table>
</div>
