<nav class="topBar">
    <div class="logo">
      <a [routerLink]="['/']">STUDENT MANAGEMENT</a>
    </div>
    <button class="togglebtn" pButton (click)="toggleMenuEvent.emit($event)" icon="pi pi-bars"></button>
</nav>
