@import "../../sass/variables";
@import "../../sass/mixins";

.topBar{
    position: fixed;
    width: 100%;
    height: $navbar-height;
    background-color: $navbar-color;
    z-index: 998;
    @include box-shadow;

    .logo, .togglebtn{
      float: left;
    }

    .logo{
      height: 100%;
      line-height: $navbar-height;
      margin: 0 15px;

      a{
        font-size: 1.1em;
        font-weight: 700;
      }
    }

    .togglebtn{
      margin-top: 0.5em;
    }
}
