@use '../../sass/mixins';
@import "../../sass/variables";
@import "../../sass/mixins";
@import "../../sass/global";

#container-table ::ng-deep {
  .validationError{
    font-size: small;
    color: #ffba01;
  }

  .ui-table {
    th, .center{
      text-align: center;
    }

    tr.makeUp{
      background-color: cornsilk;
    }

    td {
      word-break: break-word;
      .ui-dropdown {
        min-width: 0;

        .ui-dropdown-label-container{
          width: 100%;
        }
      }
    }

    .ui-table-caption{
      position: relative;

      .note{
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: white;
        margin-bottom: 10px;
        font-weight: normal;

        .item{
          margin: 5px;
        }
      }
    }

    .color{
      display: inline-block;
      width: 40px;
      height: 20px;
      margin-right: 10px;
      vertical-align: bottom;
    }

    .ui-datepicker{
      min-width: 400px;
    }
  }

  .ui-dropdown-label-container{
    max-width: 100%;
  }

  .ui-multiselect-panel{
    min-width: 170px;
  }

  .left-group{
    display: flex;
    .export{
      display: flex;
      margin-left: 1em;
    }
  }

  button.auto-width{
      width: auto;
  }

  .pi-trash {
      color: orange;
  }
}
