<div id="container-table">
  <div *ngIf="students" class="card">
    <p-toast [style]="{marginTop: '80px'}"></p-toast>

    <p-table [value]="students" [columns]="pickedColumns" [rowHover]="true" #dt
      [paginator]="true" [rows]="10" [first]="first" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,20,50]" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      sortMode="multiple"
      [(selection)]="selectedStudents"
      [reorderableColumns]="true"
      editMode="row" dataKey="id"
      [(contextMenuSelection)]="selectedStudent" [contextMenu]="cm">

      <ng-template pTemplate="caption">
        <div style="text-align: left">
          <button pButton (click)="addStudent()" icon="pi pi-plus" label="Add" class="addButton auto-width"></button>
        </div>
        <div class="note">
          <div class="item">
            <span class="color" style="background-color: cornsilk;"></span>
            <span class="des">Out of edu training time</span>
          </div>
        </div>
        List of Students
        <div style="display: flex; justify-content: space-between;">
          <div class="left-group">
            <p-multiSelect [options]="columns" [(ngModel)]="pickedColumns" optionLabel="header"
              selectedItemsLabel="{0} columns selected" defaultLabel="Choose columns to show" [style]="{minWidth: '200px'}"></p-multiSelect>
            <div class="export">
              <button type="button" pButton icon="pi pi-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()" style="margin-right: 0.5em;"></button>
              <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="EXCEL" (click)="exportExcel()" style="margin-right: 0.5em;" class="ui-button-success"></button>
              <!-- <button type="button" pButton icon="pi pi-file-pdf" iconPos="left" label="PDF" (click)="exportPdf()" class="ui-button-warning"></button> -->
            </div>
          </div>
          <input class="ui-inputtext ui-corner-all ui-state-default ui-widget" type="text" pInputText size="50" placeholder="Search" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field"  pResizableColumn>
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
          <th *ngIf="pickedColumns.length > 0" [style]="{'width': '70px'}"  pResizableColumn>Edit</th>
          <th *ngIf="pickedColumns.length > 0" [style]="{'width': '120px'}"  pResizableColumn>
            <button pButton (click)="deleteStudent()" icon="pi pi-trash" label="Delete" [style]="{'background': 'transparent', 'border':'none', 'color':'initial'}" class="auto-width"></button>
          </th>
          <th *ngIf="pickedColumns.length > 0" [style]="{'width': '120px'}">Edit directly</th>
        </tr>
        <tr class="filterbar">
          <th *ngFor="let col of columns" [ngSwitch]="true">
            <p-multiSelect *ngSwitchCase="col.field === 'firstName'" [options]="firstNameOptions" defaultLabel="All" (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>
            <p-multiSelect *ngSwitchCase="col.field === 'strGender'" [options]="strGenderOptions" defaultLabel="All" (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>
            <p-multiSelect *ngSwitchCase="col.field === 'facultyName'" [options]="facultyOptions" defaultLabel="All" (onChange)="filterFaculty($event.value)"></p-multiSelect>
            <p-multiSelect *ngSwitchCase="col.field === 'strGraduated'" [options]="strGraduatedOptions" defaultLabel="All" (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect>
            <p-calendar *ngSwitchCase="col.field === 'dateOfBirth' || col.field === 'enrollDate' || col.field === 'finishDate'" [monthNavigator]="true" [yearNavigator]="true" yearRange="1991:2020"
              showButtonBar="true" (onClearClick)="dt.filter($event, col.field, 'all')"
              (onYearChange)="dt.filter($event, col.field, 'containMonthYear')" (onMonthChange)="dt.filter($event, col.field, 'containMonthYear')"
              (onSelect)="dt.filter($event, col.field, 'dateEquals')"></p-calendar>
          </th>
          <th *ngIf="pickedColumns.length > 0"></th>
          <th *ngIf="pickedColumns.length > 0">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th *ngIf="pickedColumns.length > 0"></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-student let-columns="columns" let-rowIndex="rowIndex" let-editing="editing">
        <tr [pEditableRow]="student" [pContextMenuRow]="student" [ngClass]="outOfDate(student.graduated, student.finishDate) ? 'makeUp' : null">
          <!-- <td *ngIf="checkColumn('Id')">{{student.id}}</td> -->

          <td *ngIf="checkColumn('First Name')">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input id="firstNameInRow" pInputText type="text" [(ngModel)]="student.firstName" required pKeyFilter="alpha" class="ui-inputtext ui-corner-all ui-state-default ui-widget" [style]="{'width':'100%'}">
              </ng-template>
              <ng-template pTemplate="output">
                {{student.firstName}}
              </ng-template>
            </p-cellEditor>
          </td>

          <td *ngIf="checkColumn('Last Name')">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input id="lastNameInRow" pInputText type="text" [(ngModel)]="student.lastName" required pKeyFilter="alpha" class="ui-inputtext ui-corner-all ui-state-default ui-widget" [style]="{'width':'100%'}">
              </ng-template>
              <ng-template pTemplate="output">
                {{student.lastName}}
              </ng-template>
            </p-cellEditor>
          </td>

          <td *ngIf="checkColumn('Date of Birth')">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-calendar id="dobInRow" [(ngModel)]="student.dateOfBirth" [monthNavigator]="true" [yearNavigator]="true" yearRange="1991:2020" [style]="{'width':'100%'}"></p-calendar>
              </ng-template>
              <ng-template pTemplate="output">
                {{student.dateOfBirth.toLocaleDateString()}}
              </ng-template>
            </p-cellEditor>
          </td>

          <td *ngIf="checkColumn('Gender')">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown id="genderInRow" [options]="strGenderOptions" [(ngModel)]="student.strGender" [style]="{'width':'100%'}"></p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                {{student.strGender}}
              </ng-template>
            </p-cellEditor>
          </td>

          <td *ngIf="checkColumn('Faculty')">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown id="facultyInRow" [options]="facultyOptions" [(ngModel)]="facultyOfSelectedStudent" [style]="{'width':'100%'}"></p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                {{student.facultyName}}
              </ng-template>
            </p-cellEditor>
          </td>

          <td *ngIf="checkColumn('Status')">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <p-dropdown id="statusInRow" [options]="strGraduatedOptions" [(ngModel)]="student.strGraduated" [style]="{'width':'100%'}"></p-dropdown>
              </ng-template>
              <ng-template pTemplate="output">
                {{student.strGraduated}}
              </ng-template>
            </p-cellEditor>
          </td>

          <td *ngIf="checkColumn('Enroll Date')">{{student.enrollDate.toLocaleDateString()}}</td>
          <td *ngIf="checkColumn('Finish Date')">{{student.finishDate.toLocaleDateString()}}</td>

          <td *ngIf="pickedColumns.length > 0" [style]="{'width':'auto'}" class="center">
            <a [routerLink]="['/students/editstudent', student.id]">Edit</a>
            <!-- <button class="btn" (click) = "Delete(student.Id)"><i class="pi pi-trash"></i></button> -->
          </td>
          <td *ngIf="pickedColumns.length > 0" class="center"><p-tableCheckbox [value]="student"></p-tableCheckbox></td>

          <!--edit row-->
          <td *ngIf="pickedColumns.length > 0" class="rowEditing center">
            <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="editBtn ui-button-info" (click)="onRowEditInit(student)"></button>
            <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="saveBtn ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(student)"></button>
            <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="cancelBtn ui-button-danger" (click)="onRowEditCancel(student, rowIndex)"></button>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="summary">
          There {{students?.length == 1 ? 'is' : 'are'}} {{students?.length}} students
      </ng-template>
    </p-table>

    <p-contextMenu #cm [model]="contextActions"></p-contextMenu>

    <p-dialog header="Add a Student" [(visible)]="displayDialog" (onShow)="onShow()" showEffect="fade" [modal]="true"  [style]="{width: '400px'}">
      <form [formGroup]="studentForm" class="studentForm">
        <div class="p-field firstNameGroup">
          <label for="firstName">First Name (*)</label>
          <input pInputText id="firstName" type="text" formControlName="firstName" pKeyFilter="alpha">
          <div class="validationError" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
            <div *ngIf="firstName.errors.required">First name is required.</div>
          </div>
        </div>
        <div class="p-field lastNameGroup">
          <label for="lastName">Last Name (*)</label>
          <input pInputText id="lastName" type="text" formControlName="lastName" pKeyFilter="alpha">
          <div class="validationError" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
            <div *ngIf="lastName.errors.required">Last name is required.</div>
          </div>
        </div>

        <div class="p-field">
          <label for="dateOfBirth">Date of Birth (*)</label>
          <p-calendar id="dateOfBirth" formControlName="dateOfBirth" [monthNavigator]="true" [yearNavigator]="true" yearRange="1991:2020"></p-calendar>
          <div class="validationError" *ngIf="dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched)">
              <div *ngIf="dateOfBirth.errors.required">Date of birth is required.</div>
          </div>
        </div>

        <div class="p-field">Gender (*)</div>
        <div class="p-field-radiobutton">
          <p-radioButton name="strGender" value="Male" inputId="male" formControlName="strGender"></p-radioButton>
          <label for="male">Male</label>
        </div>
        <div class="p-field-radiobutton">
          <p-radioButton name="strGender" value="Female" inputId="female" formControlName="strGender"></p-radioButton>
          <label for="female">Female</label>
        </div>

        <div class="p-field">
          <label for="faculty">Faculty (*)</label>
          <p-dropdown [options]="facultyOptions" id="faculty" formControlName="faculty" placeholder="Select a Faculty"></p-dropdown>
        </div>

        <div class="p-field">
          <label for="enrollDate">Enroll Date (*)</label>
          <p-calendar id="enrollDate" formControlName="enrollDate"></p-calendar>
          <div class="validationError" *ngIf="enrollDate.invalid && (enrollDate.dirty || enrollDate.touched)">
              <div *ngIf="enrollDate.errors.required">Enroll Date is required.</div>
          </div>
        </div>
      </form>

      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button class="saveButton" pButton icon="pi pi-check" (click)="crudSave(studentForm.value)" label="Save" [disabled]="!studentForm.valid"></button>
        </div>
      </p-footer>
    </p-dialog>

    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
  </div>
</div>
